/* Стилі для форми */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #f2f2f2;
    transition: background-color 0.3s ease;
}

.container {
    background-color: #ffffff;
    padding: 20px;
    width: 400px;
    margin: 50px auto;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
}

label {
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="number"],
textarea {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

textarea {
    height: 100px;
}

input[type="submit"] {
    background-color: #007bff;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

.slider-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.slider {
    -webkit-appearance: none;
    appearance: none;
    width: 100px;
    height: 10px;
    background: #ccc;
    outline: none;
    border-radius: 10px;
    transition: background 0.3s ease;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background: #007bff;
    cursor: pointer;
    border-radius: 50%;
    transition: background 0.3s ease;
}

.slider::-moz-range-thumb {
    width: 20px;
    height: 20px;
    background: #007bff;
    cursor: pointer;
    border-radius: 50%;
    transition: background 0.3s ease;
}
